@{
    ViewData["Title"] = "Aggiungi Categoria";
}



    <div class="mb-3">
        <label for="input-category-title" class="form-label">Nome</label>
        <input id="input-category-title"  type="text" class="form-control">
    </div>
    <button id="create-button" type="submit" class="btn btn-primary">Aggiungi Categoria</button>

@section Scripts{
    <script type="text/javascript">
        
        const createButton = document.getElementById("create-button");

        createButton.addEventListener('click', function () {

            const categoryTitle = document.getElementById("input-category-title").value;
            let newCategory = {
                title: categoryTitle
            }
            axios.post("/api/CategoryAPI/Create", newCategory).then(() => {
                window.location.replace("/Category/Index");

            });
        });
    </script>
}