@{
    ViewData["Title"] = "Aggiungi Foto";
}
@model PhotoComplex

<div class="row">
    @if (Model != null)
    {
        <form asp-controller="Photo" asp-action="Create" method="post" enctype="multipart/form-data">
            @Html.AntiForgeryToken()
            <div class="mb-3">
                <label asp-for="Photo.Title" class="form-label">Titolo Foto</label>
                <input type="text" class="form-control" asp-for="Photo.Title">
                <span asp-validation-for="Photo.Title" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Photo.Description" class="form-label">Descrizione Foto</label>
                <input type="text" class="form-control" asp-for="Photo.Description">
                <span asp-validation-for="Photo.Description" class="text-danger"></span>
            </div>
            
            <div class="mb-3 form-check form-switch">
                <input class="form-check-input" type="checkbox" asp-for="Photo.Visibility">
                <label class="form-check-label" asp-for="Photo.Visibility">Visibilità</label>
            </div>
            <div class="input-group mb-3">
                <label class="input-group-text" asp-for="Photo.ImageFile">Carica Foto</label>
                <input type="file" class="form-control" asp-for="Photo.ImageFile">
            </div>
            
            @*SELECT MULTIPLE CATEGORIES*@
            <div class="input-group mb-3">
                <label asp-for="SelectedCategoriesId" class="form-label">Seleziona le Categoriae assegnate (tieni premuto CTRL e selezionane piu di una alla volta) :</label>
                <select id="ingredients-input" asp-for="SelectedCategoriesId"
                        multiselect="multiselect"
                        rows="5"
                        class="form-select d-block w-100"
                        asp-items=@Model.Categories>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Aggiungi Foto</button>
        </form>
        
    }
    else
    {
        <h2>Problemi con l'aggiunta di una foto</h2>
    }


</div>