@using Microsoft.AspNetCore.Identity
@{
    ViewData["Title"] = "Gestione Album Fotografico";
}
@model List<Photo>
@inject UserManager<IdentityUser> UserManager

@* Create *@
@if (User.IsInRole("ADMIN"))
{

    <input id="manage-buttons" type="hidden" value="true">
    <div class="d-flex">
        <div class="row me-2">
            <div class="col-12 my-2">
                <a href="@Url.Action("Create","Photo")" class="btn btn-success ">Aggiungi Foto</a>
            </div>
        </div>
        <div class="row me-2">
            <div class="col-12 my-2">
                <a href="@Url.Action("Create","Category")" class="btn btn-success ">Aggiungi Categoria</a>
            </div>
        </div>
        <div class="row me-2">
            <div class="col-12 my-2">
                <a href="@Url.Action("Index","Category")" class="btn btn-info ">Lista Categorie</a>
            </div>
        </div>
    </div>
}
else
{
    @* OFFCANVAS *@
    <button class="btn btn-success" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" aria-controls="offcanvas">
        Invia Messaggio
    </button>

    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasLabel">Scrivici:</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div id="offcanvas-body-message" class="offcanvas-body">
            <div class="mb-3">
                @* <div class="mb-3">
                    <label for="message-email" class="form-label">Email</label> *@
                    <input type="hidden" class="form-control" id="message-email" value="@UserManager.GetUserName(User)">
                @* </div> *@
                <div class="mb-3">
                    <label for="message-text" class="form-label">Testo del Messaggio</label>
                    <input type="text" class="form-control" id="message-text">
                </div>
                <button id="message-submit-button" type="submit" class="btn btn-success">INVIA</button>
            </div>

        </div>
    </div>

    <input id="manage-buttons" type="hidden" value="false">
}


@* BARRA RICERCA *@
<div class="row mt-3 mb-1">
    <h2 class="col-12">Cerca la foto per titolo</h2>
</div>
<div class="row mb-3 mt-1 ms-1 ">
    <input id="search-bar" type="text" class="col-3 " />
    @* <button id="search-button" class=" col-1 border-start-0">CERCA</button> *@
</div>

@* AVVISI *@
<div class="row my-3">
    @* NO FOTO *@
    <div id="no-photos-message" class="col d-none">
        <h2>Nessuna Foto presente nell album, scattane qualcuna!</h2>
    </div>
   @*  SPINNER LOADING  *@
   <div id="spinner" class="col">
        <div class="spinner-border" role="status"></div>
    </div>
</div>
@* CARD CONTAINER *@
<div id="my-card-container" class="row ">
</div>


@section Scripts{
   <script type="text/javascript" >

        //riferimenti al dom

        const cardContainer = document.getElementById("my-card-container");
        const spinner = document.getElementById("spinner");
        const noPhotosMessage = document.getElementById("no-photos-message");
        const searchBar = document.getElementById("search-bar");
        const searchButton = document.getElementById("search-button");
        
        let searchValue = "";

        SearchPhotoByTitle(searchValue);

        const manageButtons = document.getElementById("manage-buttons").value;
        searchBar.addEventListener('keyup', () => {
            searchValue = searchBar.value;
            this.SearchPhotoByTitle(searchValue);
        });

        const messageSubmitButton = document.getElementById("message-submit-button");
        messageSubmitButton.addEventListener('click', function (event) {
            sendMessage();
        })

        function sendMessage() {
            const messageEmail = document.getElementById("message-email").value;
            const messageText = document.getElementById("message-text").value;
            let newMessage = {
                email: messageEmail,
                text: messageText
            }
            axios.post("api/MessageAPI/SendMessage", newMessage).then(() => {
                document.getElementById("offcanvas-body-message").innerHTML += "Messaggio Inviato!";
                setTimeout(() => {
                    window.location.replace("/Photo/Index");
                },1800)
            });
        }

        function SearchPhotoByTitle(photoTitle) {
            axios.get("/api/PhotoAPI/SearchPhotoByTitle",
            {
                params: { search: photoTitle }

            }).then((response) => {
                console.log(response.data);
                const photos = response.data;
                if (photos == null || photos.length == 0) {
                    spinner.classList.add("d-none");
                    noPhotosMessage.classList.remove("d-none");
                    cardContainer.innerHTML = "";
                } else {
                    noPhotosMessage.classList.add("d-none");
                    spinner.classList.add("d-none");
                    cardContainer.innerHTML = "";
                    
                    photos.forEach(photo => {
                        cardContainer.innerHTML +=
                        `
                            <div id="card-n-${photo.id}" class="col-6 my-3 d-flex">
                        `
                             document.getElementById("card-n-" + photo.id).innerHTML +=
                            `
                                    <div class="card" style="width: 18rem;">
                                        <img src="${photo.imageSrc}" class="card-img-top rounded object-fit-cover" alt="Immagine${photo.title} ">
                                    </div>
                                    <div class="card" style="width: 12rem;">
                                        <div class="card-body">
                                            <div class="card-text small">id: ${photo.id}</div>
                                            <h5 class="card-title">${photo.title}</h5>
                                            <p class="card-text">Descrizione:<br/>${photo.description}</p>
                                                    <p id="categories-p-${photo.id}" class="card-text" >
                            `
                            if(photo.categories.length > 0)
                            {

                                document.getElementById("categories-p-" + photo.id).innerHTML +=
                                `
                                                                <ul id="categories-ul-${photo.id}" class="list-unstyled" >Categorie:
                                `;
                                photo.categories.forEach(category => {
                                    document.getElementById("categories-ul-" + photo.id).innerHTML +=
                                    `
                                                            <li>-${category.title}</li>
                                    `;
                                    });
                                document.getElementById("categories-p-" + photo.id).innerHTML +=
                                `
                                                        </ul>
                                                    </p>
                                        </div>
                                    </div>
                                 </div>

                                `;
                            } else {
                                document.getElementById("categories-p-" + photo.id).innerHTML = 
                                `
                                    <div class="card-text">
                                        Categorie:<br/>
                                        -Nessuna categoria 
                                    </div>
                                `;
                            }
                            document.getElementById("card-n-" + photo.id).innerHTML +=
                            `
                            <div id="crud-buttons-${photo.id}" class="card d-flex flex-column justify-content-center border-0 style="width: 3rem;">
                                <a href="/Photo/Details/${photo.id}" class="btn btn-primary my-1 ms-1">
                                    <i class="bi bi-arrow-up-right-square-fill"></i>
                                </a>
                            `
                        if (manageButtons == "true") {

                            document.getElementById("crud-buttons-" + photo.id).innerHTML +=
                            `
                                <a href="/Photo/Edit/${photo.id}" class="btn btn-warning my-1 ms-1">
                                    <i class="bi bi-pencil-square"></i>
                                </a>
                            `
                            if (photo.visibility) {
                                document.getElementById("crud-buttons-" + photo.id).innerHTML +=
                                `
                                    <a href="Photo/SwitchVisibility/${photo.id}" class="btn btn-info my-1 ms-1">
                                        <i class="bi bi-eye"></i>
                                    </a>
                                `
                            } else {
                                document.getElementById("crud-buttons-" + photo.id).innerHTML +=
                                `
                                    <a href="Photo/SwitchVisibility/${photo.id}" class="btn btn-info my-1 ms-1">
                                        <i class="bi bi-eye-slash"></i>
                                    </a>
                                `
                            }
                            document.getElementById("crud-buttons-" + photo.id).innerHTML +=
                            `   
                                <form method="post" action="/Photo/Delete/${photo.id}">
                                    <button class="btn btn-danger my-1 ms-1" type="submit"><i class="bi bi-x-square-fill"></i></button>
                                </form>
                            </div>
                            `
                        }else{
                            document.getElementById("crud-buttons-" + photo.id).innerHTML +=
                            `
                            </div>
                            `
                        }
                    });

                }
            });
        }
    </script> 
}

