html {
    font-size: 18px;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

#layout-main {
 
    margin-top: 70px;
    padding-bottom:40px;
}

#layout-header {
    height: 70px;
    width: 100%;
}

#layout-footer {
    height: 55px;
    width: 100%;
}   

#layout-header, #layout-footer {
    z-index:1000;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}