<footer id="layout-footer" class="row border-top bg-light text-dark text-muted position-fixed bottom-0 left-0">
    <div class="container-fluid ">
        <div class="row">
            <div class="col">
                &copy; 2023 Foto Gallery Manager <a asp-area="" asp-controller="Photo" asp-action="Credits">Credits</a>
            </div>
        </div>
    </div>
</footer>
